<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baekmin.smbs.board.BoardMapper">

	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD(BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_PW, BOARD_FILENAME, BOARD_COUNT, BOARD_DATE)
		VALUES(board_sequence.nextval,#{board_title},#{board_content},#{board_writer},#{board_pw},#{board_filename},0,sysdate)
	</insert>
	
	<select id="readBoard" parameterType="java.lang.Integer" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_PW, BOARD_FILENAME, BOARD_COUNT, BOARD_DATE 
		FROM BOARD
		WHERE BOARD_NO = #{board_no}
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD SET 
		BOARD_TITLE=#{board_title},
		BOARD_CONTENT=#{board_content},
		BOARD_WRITER=#{board_writer},
		BOARD_PW=#{board_pw},
		BOARD_FILENAME=#{board_filename}
		WHERE BOARD_NO=#{board_no}
	</update>
	
	<update id="updateBoardCount" parameterType="java.lang.Integer">
		UPDATE BOARD SET 
		BOARD_COUNT=#{board_count}
		WHERE BOARD_NO=#{board_no}
	</update>
	
	<delete id="deleteBoard" parameterType="Board">
		DELETE FROM BOARD
		WHERE BOARD_NO=#{board_no}
	</delete>
	
	<delete id="deleteReply" parameterType="Board">
		DELETE FROM REPLY
		WHERE BOARD_NO = #{board_no}
	</delete>
	
	<select id="selectBoardlist" parameterType="java.util.HashMap" resultType="Board">
		SELECT *
	     FROM
	     (
          SELECT rownum idx2, t.*
          FROM
          (
            SELECT rownum idx, s.* 
	          FROM
	          (
	              SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_WRITER, BOARD_FILENAME, BOARD_COUNT, BOARD_DATE, (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO) AS REPLY_COUNT      
	              FROM BOARD B
	              
	          		<if test="board_type != null and board_type == 'title'">
	    	        	WHERE BOARD_TITLE like '%' || #{board_content} || '%'
			  	    </if>
		            <if test="board_type != null and board_type == 'content'">
			    		WHERE BOARD_CONTENT like '%' || #{board_content} || '%'
			  	    </if>
	              ORDER BY BOARD_NO asc
	          ) s

            ORDER BY BOARD_NO desc

          ) t
	        
	     )
	     WHERE <![CDATA[ idx2 >= #{startRowNum} AND idx2 <= #{endRowNum} ]]>
	</select>

	<select id="countBoard" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
        FROM BOARD
        <if test="board_type != null and board_type == 'title'">
	    	WHERE BOARD_TITLE like '%' || #{board_content} || '%'
	  	</if>
        <if test="board_type != null and board_type == 'content'">
	    	WHERE BOARD_CONTENT like '%' || #{board_content} || '%'
	  	</if>
        ORDER BY BOARD_NO desc
	</select>
	
	
	
	
	
	<select id="selectBoardReplylist" parameterType="java.util.HashMap" resultType="Board">
		SELECT *
	     FROM
	     (
          SELECT rownum idx2, t.*
          FROM
          (
            SELECT rownum idx, s.* 
	          FROM
	          (
	              SELECT DISTINCT B.BOARD_NO,  B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_WRITER, B.BOARD_FILENAME, B.BOARD_COUNT, B.BOARD_DATE
	              , (SELECT COUNT(*) FROM REPLY R WHERE R.BOARD_NO = B.BOARD_NO) AS REPLY_COUNT      
	              FROM BOARD B, REPLY R
   	        	  WHERE  B.BOARD_NO = R.BOARD_NO AND R.REPLY_CONTENT LIKE '%' || #{board_content} || '%' 
	              ORDER BY B.BOARD_NO asc
	          ) s

            ORDER BY BOARD_NO desc

          ) t
	        
	     )
	     WHERE <![CDATA[ idx2 >= #{startRowNum} AND idx2 <= #{endRowNum} ]]>
	</select>

	<select id="countBoardReply" parameterType="java.util.HashMap" resultType="Integer">
		SELECT COUNT(*) 
		FROM
		(
			SELECT DISTINCT B.BOARD_NO
	        FROM BOARD B, REPLY R
		    WHERE  B.BOARD_NO = R.BOARD_NO AND R.REPLY_CONTENT LIKE '%' || #{board_content} || '%' 
	        ORDER BY B.BOARD_NO desc
        )
	</select>

</mapper>